# **Get Data**

In [2]:
from google.colab import auth
from google.cloud import bigquery
auth.authenticate_user()
print('Authenticated')

project_id_akun = "belajar-notifikasi-9955d" #GUNAKAN GCP PROJECT-ID KALIAN MASING-MASING
client = bigquery.Client(project=project_id_akun)

Authenticated

In [5]:
df = client.query('''
SELECT * FROM `ftds-hacktiv8-project.phase1_ftds_msib_hck.credit-card-information`
WHERE MOD(CUST_ID, 2) = 0''').to_dataframe()  # sesuaikan {batch} dan {kode_program}


df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,788,16.581535,0.125,200.0,0.0,200.0,0.0,0.125,0.000,0.125,0.0,0,2,1200.0,0.000000,NaN,0.0,8
1,1902,943.584041,0.875,103.0,103.0,0.0,0.0,0.125,0.125,0.000,0.0,0,1,1000.0,215.325023,410.484825,0.0,8
2,2322,1.979916,0.125,80.0,80.0,0.0,0.0,0.125,0.125,0.000,0.0,0,1,1500.0,0.000000,NaN,0.0,8
3,3426,461.455720,1.000,585.0,585.0,0.0,0.0,0.125,0.125,0.000,0.0,0,1,1000.0,258.032630,151.696433,0.0,8
4,3976,1053.594730,1.000,1450.0,1450.0,0.0,0.0,0.125,0.125,0.000,0.0,0,1,1500.0,397.090516,227.143184,0.0,8

In [6]:
df.shape

(4475, 18)

In [7]:
df.to_csv("P1G6_Set_1_mohammad_aziz.csv")

# **Perkenalan**

Grade Challenge 6

- Name : Mohammad Aziz Riza
- Batch : MSIB
- Gambaran Dataset : Dataset terkait informasi kartu kredit sebuah bank dari 6 bulan terakhir
- Objective : Membuat Customer Segmentation

# **Conceptual Problems**

Jawab pertanyaan berikut:

1. Apakah yang dimaksud dengan inertia pada algoritma K-Means ?
2. Jelaskan yang dimaksud dengan Elbow Method (alasan penggunaan, cara penggunaan, kelemahan/kelebihan, dll) !

1. **Inertia pada algoritma K-Means:**
   Inertia pada algoritma K-Means adalah ukuran yang digunakan untuk mengevaluasi kualitas klasterisasi yang dihasilkan oleh algoritma K-Means. Inertia mengukur seberapa jauh titik-titik dalam sebuah klaster tersebar dari pusat klaster (centroid) yang bersangkutan. Inertia dihitung sebagai jumlah jarak kuadrat setiap titik dalam klaster terhadap pusat klasternya sendiri, dan kemudian jumlahkan untuk semua klaster. Dengan kata lain, inertia mencoba untuk mengukur seberapa padat (compact) klaster-klaster tersebut, dengan nilai inertia yang lebih rendah menunjukkan bahwa titik-titik dalam klaster cenderung berdekatan dengan centroidnya, yang mengindikasikan klasterisasi yang lebih baik.

2. **Elbow Method:**
   - **Alasan Penggunaan:** Elbow Method digunakan dalam konteks algoritma K-Means untuk menentukan jumlah optimal klaster yang harus digunakan dalam data. Hal ini karena ketika jumlah klaster meningkat, inertia umumnya akan menurun, karena klaster menjadi lebih kecil dan lebih padat. Namun, penurunan ini akan semakin berkurang seiring dengan penambahan klaster, hingga mencapai titik di mana penurunan ini tidak lagi signifikan, dan kurva inertia mulai membentuk "siku" (elbow) yang terlihat. Pada titik inilah jumlah klaster yang optimal dapat dipilih.
   - **Cara Penggunaan:** Cara penggunaan Elbow Method adalah dengan melakukan iterasi melalui berbagai nilai jumlah klaster (biasanya dari 1 hingga sejumlah tertentu) dan menghitung nilai inertia untuk setiap iterasi. Setelah itu, plot grafik antara jumlah klaster dan nilai inertia. Titik di mana grafik mulai membentuk "siku" adalah titik di mana jumlah klaster yang optimal dapat dipilih.
   - **Kelebihan:** Kelebihan dari Elbow Method adalah sederhana dan mudah untuk diinterpretasikan. Ini memberikan cara yang intuitif untuk menentukan jumlah klaster yang optimal dengan memperhatikan trade-off antara penurunan inertia dengan penambahan klaster.
   - **Kelemahan:** Salah satu kelemahan utama dari Elbow Method adalah tidak selalu mudah untuk menentukan titik "elbow" secara tepat dalam grafik inertia versus jumlah klaster. Terkadang grafik tersebut tidak memiliki siku yang jelas, atau memiliki beberapa kemungkinan titik elbow yang dapat dipilih. Selain itu, pada beberapa dataset yang kompleks, siku mungkin tidak terlihat dengan jelas, dan algoritma evaluasi lainnya seperti Silhouette Method dapat lebih diinginkan.

# **Query SQL**

SELECT * FROM `ftds-hacktiv8-project.phase1_ftds_msib_hck.credit-card-information`
WHERE MOD(CUST_ID, 2) = 0

# **Import Libraries**

In [1]:
import pandas as pd

# **Data Loading**

In [13]:
df = pd.read_csv("P1G6_Set_1_mohammad_aziz.csv")
df.drop(df.columns[0], axis=1, inplace=True)

In [14]:
# df.head(10)
df.loc[1:]

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
1,1902,943.584041,0.875000,103.00,103.00,0.00,0.000000,0.125000,0.125000,0.000000,0.000000,0,1,1000.0,215.325023,410.484825,0.000000,8
2,2322,1.979916,0.125000,80.00,80.00,0.00,0.000000,0.125000,0.125000,0.000000,0.000000,0,1,1500.0,0.000000,NaN,0.000000,8
3,3426,461.455720,1.000000,585.00,585.00,0.00,0.000000,0.125000,0.125000,0.000000,0.000000,0,1,1000.0,258.032630,151.696433,0.000000,8
4,3976,1053.594730,1.000000,1450.00,1450.00,0.00,0.000000,0.125000,0.125000,0.000000,0.000000,0,1,1500.0,397.090516,227.143184,0.000000,8
5,4266,2237.238086,1.000000,120.00,120.00,0.00,0.000000,0.125000,0.125000,0.000000,0.000000,0,1,2500.0,343.102984,712.986387,0.000000,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4470,4630,1079.008102,1.000000,0.00,0.00,0.00,1259.571764,0.000000,0.000000,0.000000,0.545455,9,0,1200.0,1379.635287,271.364415,0.090909,11
4471,8614,809.582978,0.909091,0.00,0.00,0.00,3819.672466,0.000000,0.000000,0.000000,0.545455,7,0,4150.0,4372.148648,241.645387,0.090909,11
4472,4296,3386.490883,1.000000,560.98,427.22,133.76,2008.153534,1.000000,0.727273,0.363636,0.545455,9,20,10100.0,1039.000037,886.050237,0.000000,11
4473,4476,4840.545574,1.000000,1595.93,1595.93,0.00,4359.325750,0.454545,0.454545,0.000000,0.545455,17,25,6000.0,905.844846,2376.919568,0.090909,11
4474,3564,1977.007090,1.000000,1032.04,226.90,805.14,4335.919227,0.909091,0.090909,0.818182,0.545455,21,17,4000.0,3056.424974,910.707525,0.090909,11

In [15]:
df.tail(10)

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
4465,1588,538.768762,0.909091,226.95,129.58,97.37,452.009130,0.545455,0.090909,0.454545,0.272727,8,9,1200.0,946.649324,211.220001,0.000000,11
4466,6900,7468.012010,1.000000,1569.41,796.07,773.34,4500.288676,0.545455,0.454545,0.363636,0.272727,7,10,8700.0,2162.943350,4628.802111,0.000000,11
4467,2528,427.642111,0.888889,0.00,0.00,0.00,2563.705644,0.000000,0.000000,0.000000,0.888889,62,0,1200.0,2853.967334,146.976542,0.500000,9
4468,1226,706.327578,0.888889,169.54,169.54,0.00,1406.735573,0.333333,0.333333,0.000000,0.888889,14,3,2500.0,302.976780,142.597254,0.000000,9
4469,2152,1420.727073,1.000000,0.00,0.00,0.00,311.804499,0.000000,0.000000,0.000000,0.900000,9,0,1500.0,506.765033,449.179818,0.000000,10
4470,4630,1079.008102,1.000000,0.00,0.00,0.00,1259.571764,0.000000,0.000000,0.000000,0.545455,9,0,1200.0,1379.635287,271.364415,0.090909,11
4471,8614,809.582978,0.909091,0.00,0.00,0.00,3819.672466,0.000000,0.000000,0.000000,0.545455,7,0,4150.0,4372.148648,241.645387,0.090909,11
4472,4296,3386.490883,1.000000,560.98,427.22,133.76,2008.153534,1.000000,0.727273,0.363636,0.545455,9,20,10100.0,1039.000037,886.050237,0.000000,11
4473,4476,4840.545574,1.000000,1595.93,1595.93,0.00,4359.325750,0.454545,0.454545,0.000000,0.545455,17,25,6000.0,905.844846,2376.919568,0.090909,11
4474,3564,1977.007090,1.000000,1032.04,226.90,805.14,4335.919227,0.909091,0.090909,0.818182,0.545455,21,17,4000.0,3056.424974,910.707525,0.090909,11